<section id="bottom">
    <div class="container">
        <div class="row margin-40">
            <div class="col-sm-10 col-sm-offset-1 text-center">
                <p>
                    <a href="mailto:alegrianocaos@gmail.com">Entre em contato <i class="fa fa-envelope-o"></i></a>
                </p>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-10 col-sm-offset-1 text-center">
                <!--Social Icons-->
                <ul class="social-icons">
                    <li>
                        <a class="facebook" href="https://www.facebook.com/alegrianocaos" target="_blank"><i class="fa fa-facebook fa-3x"></i></a>
                    </li>
                    <li>
                        <a class="instagram" href="http://instagram.com/alegrianocaos" target="_blank"><i class="fa fa-camera-retro fa-3x"></i></a>
                    </li>
                    <li>
                        <a class="twitter" href="https://twitter.com/alegrianocaos" target="_blank"><i class="fa fa-twitter fa-3x"></i></a>
                    </li>
                    <li>
                        <a class="youtube" href="http://www.youtube.com/channel/UCK9b6BQJLIyTfPLBP-ThONw" target="_blank"><i class="fa fa-youtube fa-3x"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section id="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <p>@ Copyright. All Rights Reserved. Created by <a href="http://www.themearmada.com">Theme Armada.</a></p>
            </div>
        </div>
    </div>
</section>

<a href="#top" class="scrollToTop "><i class="fa fa-chevron-up"></i></a>