.navbar-inverse {
  background-color: #fff;
  border-color: #000;
  #border-color: #ff755a;
}

.img-logo {
    margin: 120px auto;
}

.box-title {
    width: 655px;
    background: #fff;
    margin: 0 auto;
    padding: 20px 20px;
    text-align: center;
    margin-top: 65px;
}

.title {
    font-size: 35px;
    line-height: 40px;
    font-family: HelveticaNeue;
    font-weight: 300;
    text-shadow: none;
    color: #000;
    text-transform: none;
}

.slogan-box {
    margin: 0 auto;
    width: 90%;
}

.slogan {
    font-size: 30px;
    line-height: 40px;
    color: #000;
    text-transform: none;
    text-align: center;
    padding: 15px 10px 18px 10px;
    text-shadow: none;
    font-weight: 300;
    font-style: italic;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin-top: 30px;
}

.navbar .nav>li>a {
  color: silver;
}

.navbar-inverse .navbar-toggle .icon-bar {
  background-color: orange;
}

.carousel .item {
  height: 615px;
}

.one {
  background: url(image_path('banner_alegria_no_caos.jpg')) no-repeat center center;
  background-size: cover;
}

.navbar-brand {
  padding: 0;
  margin-left: -15px;
  margin-top: 25px;
}

#header {
  padding-top: 91px;
}

#testimonial {
  height: 400px;
}

p.lead {
  color: #000;
}

h1 {
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.6);
}

.banner-subtitle {
  background-color: RGBA(0, 0, 0, 0.6);
  padding: 3px 9px 5px 10px;
}

p.lead {
  margin-top: 5px;
} 

.testimony-avatar {
  border: solid 4px #fff;
  border-radius: 50%;
}

.section-60 {
  padding: 60px 0;
}

/* ==========================================================================
   Mobiles styles
   ========================================================================== */

/* Landscape phones and down */
@media (max-width: 480px) { 
  
  .navbar-brand {
    padding: 0;
    margin: 10px;
    
    img { 
        margin-top: 4px;
    }
  }
    
  #header {
    padding-top: 78px;
  }
    
  .box-title {
    width: 100%;  
  }

  #testimonial {
    height: 650px;
  }

}

/* Landscape phone to portrait tablet */
@media (min-width: 481px) and (max-width: 767px) { 

  .navbar-brand {
    padding: 0;
    margin: 10px;
    
    img { 
        margin-top: 4px;
    }
  }

  #header {
    padding-top: 78px;
  }

  .box-title {
    width: 100%;  
  }

  #testimonial {
    height: 650px;
  }

}